{% extends "base.html" %} {% block title %}All Data{% endblock%} {% block content %}
<h1 class="title">All Data</h1>
<h2>Income: $ {{ '%0.2f' | format(income|float) }} CAD</h2>
<h2>Gain/Loss: $ {{ '%0.2f' | format(gain_loss|float) }} CAD</h2>
<h2>Buy/Sell Profit: $ {{ '%0.2f' | format(buy_sell_profit|float) }} CAD</h2>

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Cost basis</th>
            <th>CAD value</th>
            <th>Gain/Loss</th>
        </tr>
    </thead>
    <tbody>
        <!--
        {% for currency in all_data %} {% for item in currency['list'] %}
        <tr>
            <td>{{ item['date'] }}</td>
            <td>{{ item['type'] }}</td>
            <td>{{ item['amount'] }} {{ item['currency'] }}</td>
            <td>{{ '%0.2f' | format(item['cad_value']|float) }} CAD</td>
            <td>{{ '%0.2f' | format(item['cost_basis']|float) }} CAD</td>
            <td>{{ '%0.2f' | format(item['gain_loss']|float) }} CAD</td>
        </tr>
        {% endfor %} {% endfor %}
        </-->
        {% for item in all_data %}
        <tr>
            <td>{{ item['date'] }}</td>
            <td>{{ item['type'] }} {{ item['symbol'] }}</td>
            <td>{{ item['amount'] }} {{ item['currency'] }}</td>
            <td>{{ '%0.2f' | format(item['cost_basis']|float) }} CAD</td>
            <td>{{ '%0.2f' | format(item['cad_value']|float) }} CAD</td>
            <td>{{ '%0.2f' | format(item['gain_loss']|float) }} CAD</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}