{% extends "base.html" %} {% block title %}Crypto Portfolio Tracker{% endblock%} {% block content %}
<h1>Portfolio</h1>
<h2>$ {{ '%0.2f' | format(total_balance|float) }} CAD</h2>
<table>
    <thead>
        <tr>
            <th>Currency</th>
            <th>Notional Balance (CAD)</th>
            <th>Quantity</th>
        </tr>
        <tbody>
            {% for currency in balances %}
            <tr>
                <td>{{ currency['currency'] }}</td>
                <td>{{ '%0.2f' | format(currency['amountNotional']|float) }}</td>
                <td>{{ currency['amount'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </thead>
</table>

{% endblock %}